body {
   background: radient-gradient(135deg, rgb(155, 204, 155), black);
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
}

.container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   height: 100%;
   width: 100%;
}

.box {
   display: flex;
   width: 250px;
   border-radius: 5px;
   height: 150px;
   background-color : red;
   margin: 10px;
   justify-content: center;
   align-items: center;
   font-size: 1.5em;
   font-family: Arial, sans-serif;
   color: rgb(238, 230, 230);
}
